<%- contentFor('title') %>
<%- contentFor('head') %>
<link rel="stylesheet" href="/stylesheets/CustomNavbar.css" />
<%- contentFor('body') %>
<h1>Resources Page</h1>

<ul>
  <%for(let record of records){%>

    <div class="container">
  <div class="row">
    <div class="col-sm">
      <li>
        <% if (record.logo) { %>
        <img src="<%= assetUrl(record.logo) %>">
        <% } %>
        <%=record.name %>
        <%=record.orgtype%>
        <%=record.contactperson %>
        <%=record.phone%>
        <%=record.address%>
        <%=record.email%>
        <%=record.website%></li>
    </div>
    <div class="col-sm">
      mapa columns
    </div>
  </div>
</div>


      <!-- <form method="get" action="/resources/<%= record.id %>"> <button type="submit">Edit</button></form>

      <form method="post" action="/resources/<%= record.id %>/delete"> <button type="submit">Delete</button></form> -->

  <% } %>
<!-- <p><a href="/resources/new">NEW Resource!</a></p> -->

</ul>
