<%- contentFor('title') %>
<%- contentFor('body') %>
<u><h1>Resources Page</h1></u>
<body style="background-color:powderblue;">

<ul>
  <%for(let record of records){%>
    <li><a href="/resources/<%= record.id %>">
      <%=record.name %>
      <%=record.orgtype%>
      <%=record.contactperson %>
      <%=record.phone%>
      <%=record.address%>
      <%=record.email%>
      <%=record.website%></a></li>
  <% } %>


<p><a href="/resources/new">NEW Resources!!!</a></p>
<p><a href="/resources/edit">Edit a resource</a></p>

</ul>
