<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %> - <%= process.env.APP_NAME %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap">
    <link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/question.css" />
    <script type="application/javascript" src="/libraries/jquery/jquery.min.js"></script>
    <script type="application/javascript" src="/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="application/javascript" src="/libraries/activestorage/activestorage.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="crossorigin="anonymous"></script>
    <% if (locals.head) { %><%- head %><% } %>
    <script>
      $(function() {
        $("._toggle").on("click", function() {
          if ($("._item").hasClass("active")) {
            $("._item").removeClass("active");
          } else {
            $("._item").addClass("active");
          }
        });
      });
    </script>
  </head>
  <body>
    <nav class="_nav">
      <ul class="_menu">
        <li class="_logo"><a href="/"><img src="/images/Logo.png" alt="SF Dreamer"></a></li>
        <li class="_item collapsed"><a href="">Dream Act Info</a></li>
        <li class="_item"><a href="">Eligibility Survey</a></li>
        <li class="_item collapsed"><a href="">Mock Application</a></li>
        <li class="_item"><a href="/forms">AB-540 Forms</a></li>
        <li class="_item"><a href="/resources">Resources</a></li>
        <li class="_item collapsed"><a href="/about">About</a></li>
        <li class="_toggle"><span class="_bars"></span></li>
      </ul>
    </nav>
    <% if (flash.info || flash.error) { %>
      <div style="position: absolute; top: 0; right: 0;">
        <% if (flash.info) { %>
        <div class="toast" role="main">
          <div class="toast-body">
            <%= flash.info.join(' '); %>
          </div>
        </div>
        <% } %>
        <% if (flash.error) { %>
        <div class="toast" role="main">
          <div class="toast-body">
            <%= flash.error.join(' '); %>
          </div>
        </div>
        <% } %>
      </div>
      <script type="application/javascript">$('.toast').toast({delay: 2000}).toast('show');</script>
    <% } %>
    <%- body %>
    <footer>
      Copyright &copy; 2020 SF Dreamer
    </footer>
  </body>
</html>
