<%- contentFor('title') %> Deleting <%= record.prompt %>
<%- contentFor('body') %>


<h1>DELETEING <%= record.title %></h1>
<form method="post" action="/questions/<%= record.id %>/delete">
    <label for="prompt"><%= record.prompt %> </label>
    <input type="text" value="<%= record.prompt %> " id="prompt" name="prompt">
    <br>

    <label for="answer_type">Answer Type</label>
    <input type="text" value="<%= record.answer_type%> " id="answer_type" name="answer_type">
    <br>

    <label for="questionnaire_type">Questionnaire Yype</label>
    <input type="text" value="<%= record.questionnaire_type%> " id="questionnaire_type" name="questionnaire_type">
    <br>

    <label for="step">step</label>
    <input type="text" value="<%= record.step%> " id="step" name="step">
    <br>

    <button type="submit">Delete</button>
  </form>