<%- contentFor('title') %> Editing <%= record.prompt %>
<%- contentFor('body') %>

<h1>Editing:<br> <%= record.prompt %></h1>


<form method="post" action="/questions/<%= record.id %>">
    <label for="prompt">question</label>
    <input type="text" value="<%= record.prompt%> " id="prompt" name="prompt">
    <br>
    <!-- <label for="explanation">Explanation</label> -->
    <!-- <textarea name="explanation" id="explanation" value="<%= record.explanation %> " rows="10" cols="30"> <%= record.explanation %> </textarea> -->
    <br>
    <button type="submit">Submit</button>
  </form>