<%- contentFor('title') %> <%= question.prompt %>
<%- contentFor('body') %>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <% for (let questionnaire of questionnaires) { %>
                <% if (question.QuestionnaireId == questionnaire.id) { %>
                    <h1 class="display-4"><%= questionnaire.title %></h1>
                    <% } %>
              <% } %>
                <div class="step_progressbar">
                    <ul class="progress-list">
                        <li class="_active progress-item"> </li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                    </ul>
                </div>
            <div class="w-100"></div>
        </div>
    </div>
</div>



<div class="container">
    <!-- current question -->
    <h1 class="prompt"> <%= question.step %>.  <%= question.prompt %></h1>
    <form action="" method="get" id="questions-answer-form">
        <% for (let answer of answers) { %>
            <% if (answer.QuestionId == question.id) { %>
                <ul class="answers">
                    <div class="form-check">
                        <input class="form-check-input radio-btn" type="radio" name="NextQuestionId" value="<%= answer.NextQuestionId %>">
                        <label class="form-check-label answer" for="<%= answer.NextQuestionId %>">
                            <%= answer.value %>
                        </label>
                    </div>
                </ul>
            <% } %>
        <% } %>
        <button class="btn btn-primary float-right" id="hidden-btn" type="submit">Contiue</button>
    </form>
</div>




<script>

    // 
    // This function displays the button once a option is selected
    // 
    $(document).ready(function() {
        $(".radio-btn").click(function () {
            $("#hidden-btn").show(); // display button
        })
    })


    // 
    // This function handles what happens when we select and submit a answer
    // 
    $("#hidden-btn").on("click", function(e){
        e.preventDefault();
        // select the next question
        var next_question = $('input[name=NextQuestionId]:checked', '#questions-answer-form').val();
        // on submit go to next question
        window.location.href = "/questions/"+ next_question + "";
    });


// jquery selector for selected item
// navigate uusing window location using javascript 

</script>