<%- contentFor('title') %> <%= question.prompt %>
<%- contentFor('body') %>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <% for (let questionnaire of questionnaires) { %>
                <% if (question.QuestionnaireId == questionnaire.id) { %>
                    <h1 class="display-4"><%= questionnaire.title %></h1>
                    <% } %>
              <% } %>
                <div class="step_progressbar">
                    <ul class="progress-list">
                        <li class="_active progress-item"> </li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                    </ul>
                </div>
            <div class="w-100"></div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <!-- current question -->
        <h1 class="prompt"> <%= question.step %>.  <%= question.prompt %></h1>
        <!-- load available answers -->
        <% for (let answer of answers) { %>
            <% if (answer.QuestionId == question.id) { %>
        <form action="/questions/<%= answer.NextQuestionId %>">
            <ul class="answers">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" >
                        <label class="form-check-label answer" for="<%= answer.NextQuestionId %> ">
                            <%= answer.value %>
                        </label>
                    </div>
                    <% } %>
                <% } %>
            </ul><br><br>
            <button class="btn btn-primary float-right" type="submit">Contiue</button>
        </form>
</div> 


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>