<%- contentFor('title') %>questionnaire
<%- contentFor('body') %>

<h1>Questionnaire</h1>

<!-- <a href="questionnaire/new">New Questionnaire</a>

<div class="blog_section">
    <% for (let record of records) { %>
      <div class="posts" id="<%= record.id %>">
    <h4><%= record.title %></h4>
    <a href="/questionnaire/<%= record.id %>">LINK</a>
      </div>
      <br>
      <% } %>
  </div> -->


