<%- contentFor('title') %> <%= questionnaire.id %>
<%- contentFor('body') %>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
                <h1 class="display-4"><%= questionnaire.title %></h1>
            <div class="w-100"></div>
        </div>
    </div>
</div>

<br><br><br>
<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 my-auto showcase-text">
            
            <form class="info-form">
                <ul class="answers">
                    <div class="form-check">
                <% for (let question of questions) { %>
                    <% if (question.QuestionnaireId == questionnaire.id) { %>
                                <input class="form-check-input hidden" style="display: none;" type="radio" name="first-question" value="<%= question.step %>">
                                <label class="form-check-label" style="display: none;" for="<%= question.step %>"></label>
                    <% } %>
                <% } %>


                <button class="btn btn-primary float-left" id="info-btn" type="submit">Contiue</button>
                </div>
                </ul>
            </form>
        </div>

        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>What to know.</h2>
          <p class="lead mb-0"><%= questionnaire.explanation %></p>
        </div>
      </div>
      </div>
</section>



<script>
    // 
    // This function handles what happens when we select and submit a answer
    // 
    $("#info-btn").on("click", function(e){
        e.preventDefault();
        // select the first step
        // var first_question = $('input[name=first-question]:checked', '#info-form').val();
        // find a way to get a list of the steps and select that as the first_question
        // var first_question = 
        
        // on submit go to next question
        window.location.href = "/questions/"+ first_question + "";
    });
</script>