<%- contentFor('title') %> <%= questionnaire.id %>
<%- contentFor('body') %>



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <% for (let questionnaire of questionnaires) { %>
                <% if (question.QuestionnaireId == questionnaire.id) { %>
                    <h1 class="display-4"><%= questionnaire.title %></h1>
                    <% } %>
              <% } %>
                <div class="step_progressbar">
                    <ul class="progress-list">
                        <li class="_active progress-item"> </li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                        <li class="progress-item"></li>
                    </ul>
                </div>
            <div class="w-100"></div>
        </div>
    </div>
</div>


<h1><%= questionnaire.title %></h1>

<div class="blog_section">
    <% for (let question of questions) { %>
        
        <% if (question.QuestionnaireId == questionnaire.id) { %>
            <h4><%= question.prompt %></h4>
            <br>
            <% } %>


      <% } %>
  </div>

