<%- contentFor('title') %> Deleting <%= record.prompt %>
<%- contentFor('body') %>


<h1>DELETEING <%= record.title %></h1>
<form method="post" action="/answer/<%= record.id %>/delete">
    <label for="prompt"><%= record. %> </label>
    <input type="text" value="<%= record.prompt %> " id="prompt" name="prompt">
    <br>
    <br>
    <br>
    <button type="submit">Delete</button>
  </form>