<%- contentFor('title') %> Editing <%= record.prompt %>
<%- contentFor('body') %>

<h1>Editing:<br> <%= record.prompt %></h1>

  
<form method="post" action="/answer/<%= record.id %>">
    <label for="value">question</label>
    <input type="text" value="<%= record.value%> " id="value" name="value">
    <br>
    <label for="next_question">question</label>
    <input type="text" value="<%= record.next_question%> " id="next_question" name="next_question">
    <br>
    <select name="QuestionId">
      <% for (let question of questions) { %>
        <option value="<%= question.id %>" <%= record.QuestionId == question.id ? 'selected' : '' %>><%= question.prompt %></option>
        <% } %>
    </select>

    <button type="submit">Submit</button>
  </form>