<%- contentFor('title') %>Form
<%- contentFor('body') %>
<h1>AB-540 Application</h1>

<p>What is a AB-540?</p>
<a>AB-540 allows undocmented people to pay instate tuition in California instead of paying a out of state fees.</a>
<div padding=>   <a>show more!>></a>   </div>


<p>AB-540 Applications<br>Find your school below:</p>
<ul align="center">
  <% for (let record of records) { %>
    <li>
      <a<%= record.id %>"><%= record.name %> <%= record.year %></a></li>
      <a>insert school pic</a>
      <a style=border-radius:50px; type="button" class="btn btn-primary" href="<%= record.url %>">AB-540 for <%= record.school %></a>

  <% } %>
</ul>
