<%- contentFor('title') %>Form
<%- contentFor('body') %>

<h1>AB-540 Application</h1>


<b>What is a AB-540?</b><br>
<a>AB-540 allows undocmented people to pay instate tuition in California instead of paying a out of state fees.</a>
 <p align="right"><a href="https://ab540.com/What_Is_AB540_.html">show more!>></a></p>
<b>AB-540 Applications</b><br>
<b>Find your school below:</b>
<ul align="center">
  <% for (let record of records) { %>
    <li>
      <a href="/forms/<%= record.id %>"><%= record.name %> <%= record.year %></a><p></p>
      <% if (record.logo) { %>
        <img src="<%= assetUrl(record.logo) %>" /><p></p>
      <% } %>
      <a style=border-radius:50px; type="button" class="btn btn-primary" href="<%= record.url %>">AB-540 for <%= record.school %></a><p></p>
    </li>
  <% } %>
</ul>
